main .bs{
    /* background: #E5E5E5; */
    margin: 3rem 0px;
}



.fzC{
color: #DDDDDD;
}

h4.serviceTitle {
    font-weight: 800;
}

.serviceContent{
    font-weight: 500;
    min-height: 126px;
}

.borderRad{
    border-radius: 5px;
}

/*  image to expand */
.flexFloatRight{
    justify-content: flex-end;
    display: flex;
}
.innerImg {
    transition: 0.3s;
}

.innerImg:hover {
    transform: scale(1.2);
  }

  .imgWrapper {  
    /* width: 400px;
    height: 400px; */
    overflow: hidden; 
  }



.arrowParen{
    position: absolute;
    top: -3px;
    /* left: 0; */
    right: 0;
    transition-timing-function: ease-in-out;
    transition: margin 1s;
    /* margin-left: 10px; */
  }
  
  img.arrowLogo{
    width: 30px;
    margin-left: 25px;
  }
  
  .parentRead {
      position: relative;
  }
  
  .parentRead:hover  .arrowParen{ 
    margin-right: 11px;
    /* transform: translateX(2px); */
  }

