.blogSubTitle{
    color: #C9C9C9;
}

.fz14 {
    font-size: 14px;
}

.fz36 {
    font-size: 36px;
}

.distributeDiv{
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;

}

.posBlogTitle{
    z-index: 3;
    position: absolute;
    top: 0;
}




.arrowParen{
    /* position: absolute;
    top: -3px;
    right: 0; */
    transition-timing-function: ease-in-out;
    transition: margin 1s;
  }
  
  img.arrowLogo{
    width: 30px;
    margin-left: 15px;
  }
  
  .parentRead {
      position: relative;
  }
  
  .parentRead:hover  .arrowParen{ 
    margin-left: -17px;
    /* transform: translateX(2px); */
  }